.header {
  border-bottom: 0.1rem solid #f0f0f0;
  .container {
    width: 70% !important;
    margin: 0 auto;
    height: 100%;

    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 2rem;
      height: 100%;

      .logo-site {
        img {
          width: 110% !important;
        }
      }

      form {
        background: #f0f0f0;
        border-radius: 0.5rem;
        height: 6vh;
        display: flex;
        align-items: center;
        padding-left: 1rem;

        i {
          color: grey !important;
        }

        input {
          height: 100%;
          border: 0;
          padding-left: 0.4rem;

          &::placeholder {
            color: gray;
            font-size: 0.895rem;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }

    .nav {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          text-decoration: none;
          text-transform: capitalize;

          color: #808080;

          font-weight: 200;
        }
      }

      .login {
        display: flex;
        gap: 1rem;
        a {
          background: #f2ce16;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-inline: 0.9rem;
          height: 6vh;

          border-radius: 0.5rem;

          font-size: 0.875rem;
          font-weight: 300;
          text-decoration: none;

          color: #0000008d;

          gap: 0.4rem;
        }
      }
    }
  }
}
